<style>
header{
	font-size: 140%;
	text-align: center;
}
h1{
    color: blue;
}
h3{
	text-align: center;
}
p{
	font-size: 120%;
    color:#f34d23;
	background-color: rgb(95, 248, 189);
}
nav{
    font-size: 130%;
    background-color: #7d23f3
}
