<style>
header{
	font-size: 140%;
	text-align: center;
}
h1{
	background-color: lightgrey;
    color: blue;
}
h3{
    text-align: center;
    font-size: 120%;
    color:#f34d23;
	background-color: rgb(95, 248, 189);
}
p{
    font-size: 130%;
    color: #f8fc0b;
    background-color: #7d23f3;
}
