<style>
header{
	font-size: 140%;
	text-align: center;
}
h1{
    color: blue;
}
first{
	font-size: 120%;
    color:#f34d23;
	background-color: rgb(95, 248, 189);
}
second{
    font-size: 130%;
    color: #f8fc0b;
    background-color: #7d23f3;
}
